body {
    background-color: lightgray;
}
h1 {
    color: navy;
    margin-left: 20px;
}

h2 {
	color: navy;
    margin-left: 20px;
}

h3 {
	color: navy;
    margin-left: 20px;
}

p {
    margin-left: 40px;
}