<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.paypal.heresdk.sampleapp"
    xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.SDK.Base">
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="www.pph-bt-integration.com" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_reader_connection"
            android:name=".ui.ReaderConnectionActivity" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_charge"
            android:name=".ui.ChargeActivity" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_charge"
            android:name=".ui.RefundActivity" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="AuthCaptureActivity"
            android:name=".ui.AuthCaptureActivity" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="CaptureActivity"
            android:name=".ui.CaptureActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="WebViewActivity"
            android:name=".ui.WebViewActivity" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:name=".ui.PaymentOptionsActivity" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:name=".ui.OfflinePayActivity" />
        <activity android:name=".ui.OfflinePaySuccessActivity" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_transaction_selection"
            android:name=".activities.transactionSelection.TransactionSelection"
            android:theme="@style/Theme.SDK.Base" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_vault_transaction"
            android:name=".activities.vaultTransaction.VaultTransaction"
            android:parentActivityName=".ui.ChargeActivity"
            android:theme="@style/Theme.SDK.Base">
        </activity>
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_vault_and_pay_transaction"
            android:name=".activities.vaultAndPayTransaction.VaultAndPayTransaction"
            android:parentActivityName=".ui.ChargeActivity"
            android:theme="@style/Theme.SDK.Base">
        </activity>
    </application>

</manifest>
